/* En tu archivo style.css */
.about-me {
    padding-bottom: 20px; /* Ejemplo */
}

.projects-ml {
    padding-top: 20px;    /* Ejemplo */
    padding-bottom: 20px; /* Ejemplo */
}

.projects {
    padding-top: 20px;    /* Ejemplo */
}
